<%= form_with(model: meal, local: true) do |form| %>
  <% if meal.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(meal.errors.count, "error") %> prohibited this meal from being saved:</h2>

      <ul>
      <% meal.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.hidden_field :user_id, value: current_user.id %>
  </div>

  <div class="form-group">
    <%= form.text_area :note_entry, placeholder: "Something noteworthy...", class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.hidden_field :story_id, value: @story.id %>
  </div>

  <div class="form-group">
    <%= form.submit "Add note", class: "btn btn-primary btn-sm" %>
  </div>
<% end %>
